body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0;-webkit-overflow-scrolling : touch;}
body,button,input,select,textarea{font:14px/1.5 tahoma,Verdana,arial,microsoft yahei,"\5b8b\4f53";*line-height:1.5;color:#676b70;}
a{color:#051b28;text-decoration:none;hide-focus:expression(this.hideFocus=true);outline:none;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img,area,a,button{border:0;outline:0;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:normal;}
input,textarea,button,select{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-appearance:none;-moz-appearance:none;border-radius:0;}
*{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:0;margin:0;padding:0}
ol,ul{list-style:none;}
small{font-size:12px}
h1,h2,h3,h4,h5,h6{font-size:100%;}
a:focus,input:focus{-webkit-tap-highlight-color:rgba(0,0,0,0);}
body {background-color: #f9f9f9;}
.left {float:left;}
.right {float:right;}
.clear {clear:both;}
.flex{display:-webkit-box;display:-moz-box;display:-webkit-flex;display: flex;-webkit-flex-flow: row wrap;justify-content: space-around;-webkit-flex-flow:row;display:-moz-flex;-moz-flex-flow:row;display:-ms-flex;-ms-flex-flow:row;display:-o-flex;-o-flex-flow:row;display:flex;flex-flow:row;}
.hide {display:none;}
.m_b_30 {margin-bottom:30px;}
.m10 {margin:10px;}
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1481615572186'); /* IE9*/
  src: url('iconfont.eot?t=1481615572186#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1481615572186') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1481615572186') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1481615572186#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-all:before { content: "\e696"; }
.icon-back:before { content: "\e697"; }
.icon-cart:before { content: "\e698"; }
.icon-edit:before { content: "\e69e"; }
.icon-moreunfold:before { content: "\e6a6"; }
.icon-more:before { content: "\e6a7"; }
.icon-search:before { content: "\e6ac"; }
.icon-viewgallery:before { content: "\e6b4"; }
.icon-account:before { content: "\e6b8"; }
.icon-clock:before { content: "\e6bb"; }
.icon-discount:before { content: "\e6c5"; }
.icon-service:before { content: "\e6c7"; }
.icon-map:before { content: "\e715"; }
.icon-bussinessman:before { content: "\e726"; }
.icon-xiala:before { content: "\e65c"; }
.icon-gerenzhongxin:before { content: "\e60b"; }
.icon-gerenzhongxin-xuanzhong:before { content: "\e60c"; }
.icon-gouwuche:before { content: "\e60d"; }
.icon-gouwuche-xuanzhong:before { content: "\e60e"; }
.icon-zhuye:before { content: "\e60f"; }
.icon-zhuye-xuanzhong:before { content: "\e610"; }
.icon-sousuo:before { content: "\e619"; }
.icon-fanhui:before { content: "\e61c"; }
.icon-shanchu:before { content: "\e61d"; }
.icon-shangpinfenlei:before { content: "\e62f"; }
.icon-goumaiyemiande-jiarugouwuche:before { content: "\e636"; }
.icon-goumaiyemiande-xiaogouwuche:before { content: "\e637"; }
.icon-duigou:before { content: "\e63a"; }
.icon-dizhi:before { content: "\e63c"; }
.icon-shoucang:before { content: "\e63d"; }

.logo img {width: 24px;height: 24px;padding-top: 10px;padding-left: 13px;}
.iconfont{font-family:"iconfont" !important;font-size:16px;font-style:normal;-webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0.2px;-moz-osx-font-smoothing: grayscale;}

/*边框*/
.border_top {border-top:solid 1px #eeeeee;box-shadow: 0 1px 6px #ccc;}
.border_bottom {border-top:solid 1px #eeeeee;}
.border_top_bottom {border:solid 1px #eeeeee;}
.border_left {border-left:solid 1px #eeeeee;}
.border_right {border-right:solid 1px #eeeeee;}

/*四个方向箭头*/
.arrow_r {display:inline-block;width:20px;height:20px; background:url(../images/arrow.png) center no-repeat;background-size:100%;}
.arrow_d {display:inline-block;width:24px;height:24px; background:url(../images/arrow.png) center no-repeat;background-size:100%;transform:rotate(90deg)}
.arrow_l {display:inline-block;width:24px;height:24px; background:url(../images/arrow.png) center no-repeat;background-size:100%;transform:rotate(180deg)}
.arrow_u {display:inline-block;width:24px;height:24px; background:url(../images/arrow.png) center no-repeat;background-size:100%;transform:rotate(-90deg)}
.icon_edit, .icon_tel, .icon_del, .icon_star, .icon_star1, .icon_ask, .icon_answer,.icon_notice {width:20px;height:20px;background:center no-repeat;display:inline-block;background-size:100% 100%; }

/*全局头部*/
header.headerBar {position: fixed;z-index: 1;width: 100%;background-color: white;box-shadow: 0 1px 6px #ccc;}
.topbar {background:#ffa935;height: 45px;}
.topbar i {font-size: 24px;line-height: 45px;color: #fff;padding-right: 10px;padding-left: 10px;}
.back_btn i,.top_home i{display:none;}
.page_title{text-align:center;margin-top: -30px;font-size:16px;color:#fff;overflow:hidden;}
.home_menu{height:60px;display:none;border-bottom:solid 1px #dadada;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width: 0 0 1px 0;}
.home_menu a{width:25%;height:50px;display:block;text-align:center;padding:5px 0;float:left;text-shadow: 0 1px 0 #fff;}
.home_menu a i{font-size:20px;color:#2c3e50;display:block;}
.home_menu a span{font-size:12px;color:#2c3e50;}
.content{padding-top: 45px;background: #f9f9f9;}
.index_wrapper {min-width:320px;max-width:960px;width:100%;margin:0 auto;}
.border_box {border-top:solid 1px #ddd;border-bottom:solid 1px #ddd;}
.index-top{background:#ffa935;height:45px;}
.logo{float:right;width:45px;overflow:hidden;}
.logo i {padding-left: 10px;line-height: 45px;font-size: 26px;color: #fff;}
.search-btn {background:#fff;height:29px;margin:0 50px 0 50px;line-height:29px;text-align:center;color:#bbb;border-radius:3px;position:relative;top:8px;}
.city{float:left;height:45px;width:50px;margin-top: -2px;}
.city i {padding-left: 15px;}
.city a{display:block;color:#fff;font-size:10px;padding:5px 0;}
.city a img{display: block;text-align: center;font-size: 14px;margin-top: -5px;}
.city a span{display:block;text-align:center;font-size: 14px;margin-top: -5px;}
.topmenu{float:right;}
.topmenu a{display:block;width:45px;height:45px;float:left;color:#fff;line-height:45px;text-align:center;}
.topmenu a i{font-size:24px;}

.bannerbox{width:100%;}
.banner{position:relative;overflow:hidden;width:100%;margin:0 auto;overflow:hidden;height:-moz-calc(100% / 640px * 240px);height:-webkit-calc(100% / 640px * 240px);height:calc(100% / 640px * 240px);}
.banner ul {width:100%;height:100%;position:absolute;top:0;left:0;}
.banner ul li {float:left;width:100%;height:100%;position:absolute;top:0;left:0;}
.banner ul li a{width:100%;display:block;height:100%;}
.banner ul li img{width:100%;height:100%;display:block;}
.ban-nav {position:absolute;width:54px;bottom:8px;left:50%;margin-left:-18px;}
.ban-nav i {width:5px;height:5px;background:#93a0ae;display:block;margin:0 2px;float:left;border-radius:100%;}
.ban-nav i.cur {background:#ffa935;}
.xiaotiao {height: 10px;background-color: #eff2f5;}

.index_nav{background:#fff;}
.index_menu a{-webkit-box-flex:1;-moz-box-flex:1;width:25%;text-align:center;-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;display:block;padding:10px 0;height:55px;}
.index_menu a img{display:block;width:36px;height:36px;margin:0 auto;}
.index_menu a span{font-size:12px;}
.index_menu2 a i{background:#f2432f;}

.chanpin h3 a{float:right;font-size:12px;font-weight:normal;color: #676b70;}
.chanpin h3 a s {vertical-align:middle;position:relative;bottom:1px;right:-5px;}
.baokuan h3 a{float:right;font-size:12px;font-weight:normal;color: #676b70}
.baokuan h3 a s {vertical-align:middle;position:relative;bottom:1px;right:-5px;}
.bk-slide{overflow:hidden;}
.bk-slide .swiper-wrapper a{display:block;}
.bk-slide .swiper-wrapper a img {width:100%;}
.foot-nav a.active {color: #ffa935;}
.floor{background:#fff;position:relative;border:solid 1px #eeeeee;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width:1px 0;}
.floor h3 {height:40px;line-height:40px;font-size:16px;padding:0 10px;color:#051b28;border-bottom:solid 1px #eeeeee;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width:0 0 1px 0;}
.floor h3 i {display:inline-block;width:4px;height:16px;background:#f44623;border-radius:4px;vertical-align:middle;position:relative;bottom:2px;margin-right:5px;}
.floor ul {display:-webkit-box;display:-moz-box;display:-webkit-flex;-webkit-flex-flow:row;display:-moz-flex;-moz-flex-flow:row;display:-ms-flex;-ms-flex-flow:row;display:-o-flex;-o-flex-flow:row;display:flex;flex-flow:row;}
.floor ul li { -webkit-box-flex:1;-moz-box-flex:1;width:50%;-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1; }
.floor ul li:first-child {border-right:solid 1px #eeeeee;border-width:0 1px 0 0;}
.floor ul li .aditem {width:100%;display:-webkit-box;display:-moz-box;display:-webkit-flex;-webkit-flex-flow:row;display:-moz-flex;-moz-flex-flow:row;display:-ms-flex;-ms-flex-flow:row;display:-o-flex;-o-flex-flow:row;display:flex;flex-flow:row;/*border-bottom:solid 1px #dadada;*/-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width:0 0 1px 0;}
.floor ul li .aditem:last-child { border:0;}
.floor ul li .aditem a {display:block;height: 90px; }
.floor ul li .aditem a.two {-webkit-box-flex:1;-moz-box-flex:1;width:50%;-webkit-flex:1;-moz-flex:1;-ms-flex:1;-o-flex:1;flex:1;}
.floor ul li .aditem a.two:first-child {border-right:solid 1px #eeeeee;-webkit-border-image: url(../images/border2.gif) 0 2 round;border-image: url(../images/border2.gif) 0 2 round;border-width:0 1px 0 0;}
.floor ul li .aditem img {width:52px;display:block; margin: 18px 0px 0px 10px;}

.chanpin h3 { height:40px;line-height:40px;font-size:16px;padding:0 10px;color:#2c3e50;border-bottom:solid 1px #eeeeee;-webkit-border-image: url(../images/border.gif) 2 0 round;border-image: url(../images/border.gif) 2 0 round;border-width:0 0 1px 0;}
.chanpin h3 i { display:inline-block;width:4px;height:16px;background:#f44623;border-radius:4px;vertical-align:middle;position:relative;bottom:2px;margin-right:5px;}
h4 {font-size: 16px;color: #232323;padding-top: 0px;padding-left: 68px;}
.zhongdian {display: block;float: right;margin-top: -45px;}
.zhongdian p {padding-left: 68px;font-size: 12px;}
.AD_link img {width: 100%;}
.AD_link {margin-bottom: -5px;}
p.in {padding: 5px 0px 0px 10px;color: #051b28;}
p.address_in {padding: 5px 0px 0px 10px;color: #ffa935;font-size: 16px;}
p.in span a {float: right;padding-right: 10px;font-size: 12px;color: red;}
.didian p img{width: 42px;float: right;padding-right: 10px;padding-bottom: 10px;margin-top: -20px}

.search-form-box {background: #fff;border-radius: 3px;height: 30px;margin-top: 8px;overflow: hidden;}
.search-form-icon {display: inline-block;}
em.search-form-icon {margin-left: 5px;float: left;margin-top: 4px;}
.search-form-input {height: 100%;display: inline-block;width: 80%;}
.search-form-input input {border: none;display: inline-block;background: none;font-size: 14px;line-height: 32px;width: 100%;vertical-align: middle;color: #9e9e9e;padding-left: 10px;}
.search-form-box img {width: 20px;}
.search-form {display: inline-block;height: 100%;width: 100%;}

.list_Insured {margin-bottom: 10px;}
.discount {border-width: 1px 0 0 0;border-color: #ddd;overflow: hidden;}
.list_Insured ul {width: 50%;float: left;line-height: 24px;border-bottom: 1px solid #eeeeee;}
.list_Insured ul .Spacing {padding: 10px;}
.list_Insured ul .title_name {overflow: hidden;font-size: 12px;text-align: left;line-height: 24px;color: #051b28;white-space: nowrap;text-overflow: ellipsis;}
li.hot_img {-webkit-tap-highlight-color: rgba(0,0,0,0);outline: 0;margin: 0;padding: 0;}
.chanpin {background: #fff;margin-bottom: 16px;box-shadow: 0 1px 2px #dcdcdc;}
.list_Insured ul li .View_details {float: left;color: #FF0000;font-size: 14px;margin-bottom: -5px;}
.clearfix:after, ul:after, li:after {display: block;content: ".";height: 0;visibility: hidden;clear: both;font-size: 0;line-height: 0;}
.list_Insured ul li .Sales {float: right;}
.list_Insured ul li .Sales .buy_btn {background: url(../images/btn_07.png) no-repeat;display: block;width: 20px;height: 20px;background-size: 20px;}

.swiper-wrapper p {overflow: hidden;font-size: 12px;line-height: 18px;color:#051b28;margin: 5px 0px;white-space: nowrap;text-overflow: ellipsis;}
.swiper-wrapper p span{float: left;color: #FF0000;font-size: 14px;}
.swiper-wrapper ul li .Sales .buy_btn {background: url(../images/btn_07.png) no-repeat;display: block;width: 20px;height: 20px;background-size: 20px;padding-left: 10px;}
.swiper-wrapper ul li  .Sales {float: right;}
.swiper-wrapper {padding-left: 5px;}

.notice {background:#fff;height:40px;line-height:40px;padding:0 10px;}
.notice dt {float:left;width:55px;color:#93a0ae;}
.notice dt img {vertical-align:middle;margin-right:5px;}
.notice dd {margin-right:55px;height:40px;overflow:hidden;}
.notice dd ul li {height:40px;line-height:40px;overflow:hidden;}

.foot-nav {position:fixed;-webkit-box-flex: 1;left:0;bottom:0;background:#f3f3f3;width:100%;overflow:hidden;z-index:0;}
.foot-nav {width: 100%;background-color: #fafafa;box-shadow: 0 1px 6px #ccc;position: fixed;bottom: 0;left: 0;}
.foot-nav ul {width: 100%;background-color: #fafafa;}
.foot-nav ul .active {width: 25%;}
.foot-nav ul li {float: left;width: 25%;text-align: center;padding: 1% 0 1%;}
.foot-nav ul li a {width: 100%;display: block;}
.foot-nav ul .active i {color: #ffa935;}
.foot-nav ul .active a p {color: #ffa935;}
.foot-nav ul li i {font-size: 1.0rem;color: #051b28;}
.foot-nav ul li p {font-size: .6rem;color:#051b28;margin-top: -5%;}

/*底部*/
footer {background:#fff;padding-bottom:70px;clear:both;}
.footbar{height:32px;}
.footbar a{display:block;float:right;margin:-60px 0px 0px 0px;}
/*保洁下单*/
.more {padding-left: 10px;float: left;}
p.amount {font-size: 16px;padding-top: 10px;}
span.money {color: red;}
.place_order {float: right;background-color: #f23030;width: 30%;height: 45px;}
.place_order p {color: #fff;font-size: 16px;text-align: center;padding-top: 10px;}
.star_tatle {width: 100%;height: 82px;padding: 10px 0px;}
.star_tatle a{width: 32%;text-align: center;border: 1px solid #ddd;border-radius: 5px;font-size: 12px;float: left;margin: 2px;background-color: #fff;}
p.star {font-size: 14px;color: #ffa935;}
p.vip {color: red;}
a.on.active {background-color: #ffb03f;}
a.on.active p{color: #fff;}
a.on.active .vip{color: red;}
.clearfloat {padding: 10px 0px;}
p.vip-a {color: #ff5c1c;font-size: 12px;}
.address{background: url(../images/address_mail.png);background-repeat: no-repeat;background-size: 100% 100%;border-bottom: 0;height: 70px;}
.content .selAunt .title {padding: 0px 0 10px 15px;color: #676b70;}
.content .font_15 {font-size: 12px;}
.content .mg-4 {background: #fff;margin: 0;border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;}
p.order {color: #fff;font-size: 16px;text-align: center;line-height: 45px;}
.content .period ul li.msg {font-size: 14px;text-align: center;padding: 50px 0;margin: 0;color: #676b70;}
.vip {display: block;float: right; margin-top: -55px;}
.vip-e { background: url(../images/brand.png)left;background-repeat: no-repeat;}
.vip p { padding-left: 24px;}
span.details,span.collect{background-color: #ffa935; padding: 5px; font-size: 14px;line-height: 24px;border-radius: 5px;color: #fff;}
p.module {margin-top: 5px;}
dt.renshu {display: block;color: #555;margin-left: 40px;margin-top: -50px;font-size: 12px;line-height: 24px;border-bottom: 1px solid #ddd;padding-bottom: 10px;}
dt.eeee {display: block;color: #555;margin-left: 50px;margin-top: -36px;font-size: 12px;line-height: 24px; margin-bottom: 38px;}
p.choice img {width: 20px;float: right;margin-top: 5px;}
p.choice {font-size: 14px;color: #222;line-height: 26px;}
dt.go {font-size: 12px;margin-left: 40px;margin-top: -30px;}
.feedback .row {width: 100%;background-color: #fff;}
textarea {line-height: 20px;width: 83%;float: right;padding: 5px 8px;-webkit-user-select: text;border: 1px solid #efefef;outline: 0;background-color: #efefef;-webkit-appearance: none;margin-right: 10px;border-radius: 5px;font-size: 14px;}
.address i,.service i,.number i,.coupon i{color: #ffa935;font-size: 22px;line-height: 66px;}
.time i,.number i{color: #676b70;font-size: 22px;line-height: 72px;}
p.from {font-size: 14px;color:#555;line-height: 0px;}
.address,.service,.time,.number,.coupon{padding-left: 12px;}
.number{margin-top: -20px;}
.time {margin-top: -10px;}
span.how {float: right;padding-right: 10px;}
span.none { float: right;padding-right: 10px;color: #ff5c1c;}
li.date-tit,li.service-time {border-bottom: 1px solid #eee;}
li.date-tit i {width: 20px;display: block;text-align: center;height: 44px;line-height: 44px;}
.date {overflow: hidden;overflow-X: scroll;overflow-Y: hidden;}
.date-tit-a {width: 83.33333%;overflow: hidden;}
.date .date-a{width: 12.5%;float: left;padding: 8px 0;}
.date-tit-b {width: 198%;}
i.going {margin: 0px 6px;float: left;margin-right: 10px;}
i.houtui {display: block;width: 27px!important;height: 42px;margin: 0 auto;float: left;}
p.riqi {font-size: 12px;color: #888;text-align: center;}
p.xingqi {font-size: 14px;text-align: center;color: #222;}
span.date-a.xz-ing {background: url(../images/xiahuaqian.png) no-repeat 0 center;background-size: contain;background-position: 0 100%;}
span.date-a.xz-ing p{color: #ffa935}
li.service-time i {color: #ffa935;font-size: 22px;padding:0px 15px;}
li.service-time span{color: #222;font-size: 14px;}
li.service-time {padding: 10px 0px;}
li.timepiece {padding: 10px 5px 1px;border-bottom: 1px solid #eee;}
span.clock {height: 36px;line-height: 36px;}
span.clock p{float: left;display: block;border-radius: 5px;border: 1px solid #e2dfdd;height: 36px;line-height: 36px;font-size: 12px; text-align: center; margin-left: 5px;color: #666;background-color: #fff;width: 23%;margin-bottom: 8px;}
span.clock .ing {color: #666;background: url(../images/full.png) no-repeat 0 center;background-size: 20px 20px;background-position: 100% 100%;background-color: #f5f3f2;}
p.from img {float: right;width: 20px;margin-top: -8px;}
p.go.active {color: #ffa935;background: url(../images/xuanzhong.png) no-repeat 0 center;background-size: 20px 20px;background-position: 100% 100%;}
.coupon .go {border-bottom: 1px dashed #eee;}
/*.address .go.number .go */,.time .go{border-bottom: 1px solid #eee;}
.service .go{border-bottom:1px dashed #eee}
button.increase{color: #ffa935;width: 28px;height: 28px;}
button.decrease {width: 28px;height: 28px;}
input#goods_number_1789 {border: 1px solid #ededed;height: 28px;width: 30px;border: 0;text-align: center;font-size: 16px;color:#555;}
span.txt {display: block;float: right;margin-right: 14px;margin-top: 5px;}
button#demo1 {background-color: #fff;color: #000;}
.coupon_number p {color: #222;font-size: 16px;padding: 10px 0px;}
.coupon_number {display: block;float: left;margin-left: 40px;}
input[type="people-name"] {background-color: #fff;width: 44%;padding: 0px 10px;border: 1px solid #ddd;height: 28px;}

/*确认支付*/
.yes{height: 45px;background-color: #ffa935;}
.yes p{color: #fff;font-size: 16px;text-align: center;line-height: 45px;}
input[type='checkbox'] {bottom: 2px;height: 20px;vertical-align: middle;width: 20px;}
input[type="checkbox"], select, input[type="radio"] {position: relative;-webkit-appearance: none;-webkit-user-select: none;border: 1px solid rgba(0, 0, 0, 0.25);border-radius: 2px;box-shadow: 0 1px 0 rgba(0, 0, 0, 0.08), inset 0 1px 2px rgba(255, 255, 255, 0.75);margin: 0 1px 0 0;margin-right: 10px;}
input[type='checkbox']:checked::before {position: absolute;left: 5px;top: 8px;content: '';height: 2px;background-color: #ff5c1c;width: 12px;-webkit-transform: rotate(120deg);}
input[type='checkbox']:checked::after {position: absolute;left: 2px;top: 11px;content: '';height: 2px;width: 7px;background-color: #ff5c1c;-webkit-transform: rotate(-150deg);}
.cleaning h3 ,.orderstatus h3 {font-size: 14px;line-height: 32px;color: #ff5c1c;border-bottom: 1px solid #eee;}
.cleaning,.orderstatus, .beizhu{background: #fff;padding: 0px 10px 10px;}
.cleaning .money,.orderstatus .money {display: block;float: right;margin-top: -38px;font-size: 14px;line-height: 32px;color: #ff5c1c;}
.cleaning p,.orderstatus p {font-size: 14px;color: #222;padding-top: 5px;line-height: 24px;}
p.hl {border-bottom: 1px dashed #eee;padding-bottom: 5px;}
.zhifu {padding: 10px 10px 0px 10px;}
label {font-size: 14px;color: #222;}
.beizhu{margin-bottom: 45px;padding-top: 10px;}
.beizhu_a{margin-bottom: 45px;}
.beizhu p,.beizhu_a p{color: #ff5c1c;}
p.fromto img {float: right;width: 20px;margin-top: 3px;}
textarea#question {margin-top: 10px;font-size: 14px;float: left;margin-left: 40px;height: 92px;padding: 10px;}
.beizhu_a {float: left;margin-left: 52px;margin-right: 12px;padding-bottom: 10px;}
.beizhu_a h3 {color: #f44623;padding-top: 10px;font-size: 16px;font-weight: normal;}

/*春节大扫除*/
.banner img {width: 100%;height: 100%;}
.service h2 {color: #222;font-size: 16px;padding-top: 10px;font-weight: normal;}
li.basic_set {list-style-type: none;float: left;}
li.basic_set {display: block;border: 1px solid #eee;width: 66px;height: 42px;padding-top: 5px;border-radius: 5px;text-align: center;background-color: #fff;margin: 10px 3px;}
li.basic_set.active {background-color: #ffa935;}
li.basic_set.active p{color: #fff;}
p.set {color:#ffa935;font-size: 14px;}
li.basic_set p {font-size: 14px;text-align: center;}
p.special {color: #ffa935;font-size: 14px; padding-top: 20px;}
ul.service_plan {padding-left: 40px;}
.package {margin-left: 52px;}
.package p {font-size: 16px;color: #222;line-height: 32px;}
span.amount {color: #ffa935;padding-left: 10px;}
p.price {line-height: 38px;border-bottom: 1px solid #eee;}
p.money {line-height: 38px;border-bottom: 1px dashed #eee;}
ul.service_plan a li{float: left;display: block;border: 1px solid #eee;width: 80px;height: 70px;padding-top: 5px;border-radius: 5px;text-align: center;background-color: #fff;margin:5px 5px 5px 0px;}
section.latest-list {display: block;}
p.daxiao {font-size: 14px;color: #ffa935}
select#pid {width: 96%;height: 30px;font-size: 14px;color: #222;margin: 5px 0px 10px 0px;border: 1px solid #ddd;background: url(../images/xx.png)right no-repeat;}
dt.eeee select#pid{width: 96%;height: 30px;font-size: 14px;color: #222;margin: 5px 0px 10px 0px;border: 1px solid #ddd;background: url(../images/xxx.png)right no-repeat;}
p.name {font-size: 16px;color: #222;line-height: 28px;}

/*套餐详情页*/
h5 {color: #ffa935;text-align: center;font-size: 16px;}
td {font-size: 12px;}
.biaoge {padding: 10px;}
.taocan h3 {text-align: center;background-color: #ffa935;font-size: 16px;color: #fff;padding: 5px;}
.taocan p {color: #222;font-size: 14px;padding-top: 10px;padding-left: 10px;padding-right: 10px;}
.taocan p span{color: #ffa935}
p.xuanzhe {color: #ffa935;font-size: 14px;padding-top: 2px;}


