.pro_pz dl dt{line-height:30px;}
.smstip{background:#fff;display:none;left:0;padding:10px 0;position:fixed;top:0;width:100%;z-index:99;}
.smstip h3{font-size:14px;line-height:40px;margin:0 10px;}
.smstip .inputbox{margin-bottom:10px;}
.smstip .inputbox input{border:solid 1px #ccc;height:30px;text-indent:5px;width:100%;}
.smstip .inputbox p{margin-bottom:10px;}
.smstip .inputbox p input{margin:0 5px;width:100px;}
.smstip .inputbox button{background:#ec6f61;border:0;border-radius:3px;color:#fff;height:30px;margin-top:10px;width:100%;}
.que{background:#dadada;color:#333;display:block;width:auto;}
footer{padding-bottom:60px;}
.mark{position:fixed;top:0;left:0;background:rgba(0,0,0,.5);width:100%;height:100%;z-index:98;display:none;}
.close{background:#f44623;border:0 none;border-radius:100%;color:#fff;display:block;float:right;height:30px;line-height:30px;margin:0;margin-right:10px;padding:0;text-align:center;width:30px;}
.btn_box{z-index:9;padding:0;height:60px;}
.fq_box{}.fq_box h2{padding:10px;position:relative;}
.fq_box h2 .close{font-size:30px;position:absolute;right:-20px;top:-20px;}
.fq_box dl{margin-bottom:10px;padding:10px;}
.fq_box dl dt{font-weight:700;line-height:35px;}
.fq_box dl dt i{width:25px;height:25px;background:center no-repeat;background-size:100% 100%;display:inline-block;vertical-align:middle;margin-right:3px;}
.fq_box dl table{width:100%;}
.fq_box dl td,.fq_box dl th{border:1px solid #ddd;padding:2px 0;text-align:center;}
.fq_box dl th{background:#f7f7f7;}
.fq_box .btn1{width:150px;margin-top:5px;font-size:14px;}
.installment h2{padding:10px;position:relative;}
.installment h2 .close{font-size:24px;position:absolute;right:-15px;top:-15px;}
.installment p{padding:10px;background:#f6f6f6;}
.installment .btn a{display:block;padding:10px;position:relative;}
.installment .btn a b{display:block;font-size:16px;color:#45a1de;}
.installment .btn a em{color:#93a0ae;}
.installment .btn a i{position:absolute;top:50%;right:10px;margin-top:-13px;}
.buycarerNormal{display:inline-block;width:40px;height:50px;line-height:25px;text-align:center;}
.liji_buy,.add_cart{width:50%;display:inline-block;height:60px;text-align:center;line-height:60px;color:#fff;margin:0;border-radius:0;}
a.liji_buy.left{float:right;}
.btn_box a{margin:0;}
.btn_box .buycarerNormal{display:inline-block;width:40px;height:40px;line-height:25px;text-align:center;margin:10px 6px 0 6px;}
.add_cart{background-color:#f4a425;}
.m_mark{position:absolute;top:0px;left:0px;z-index:399;width:100%;height:100%;background:rgba(0,0,0,0.2)}
.m_shop{position:fixed;top:140px;left:30px;border-radius:3px;width:90%;height:410px;z-index:499;border:2px solid rgb(159,161,163);background:#fff;overflow:hidden;}
.m_shop h3{padding:0px 10px;height:40px;line-height:40px;background:#DBE1E5;}
.m_shop h4{padding:0px 5px;}
.m_shop .m_close{position:absolute;top:6px;right:10px;color:red;display:inline-block;font-size:3em;width:30px;height:30px;text-align:center;line-height:30px;overflow:hidden;text-shadow:0 0 2px #fff;}
.m_shop_list img{width:99%;}
.m_shop_list{padding:5px;height:380px;overflow:auto;}
.m_img{text-align:center;}
.m_addr{padding:5px;padding-bottom:10px;}
.yansep{clear:both;font-size:12px;padding-bottom:10px;}
.fly-img{display:block;width:30px;height:30px;border-radius:100%;position:fixed;z-index:9999;background:#f60;}
.myfavico{width:34px;height:30px;background:url(http://img2.ch999img.com/images/favico.png?t=1) no-repeat 0 0;display:inline-block;}
.myfavico2{width:34px;height:30px;background:url(http://img2.ch999img.com/images/favico.png?t=1) no-repeat -34px 0;display:inline-block;}
.pro_cx p a{margin:5px 0;color:#f4a425;}
.pcfuwu_dl{margin-top:10px;}
.pcfuwu{padding:0 3px;display:inline-block;line-height:20px;border:1px solid #ddd;border-radius:3px;}
.active{border-color:#45a1de;background:#45a1de;color:#fff;}
.pcfuwu span{color:#f60;font-weight:bold;}
.pcfw_link{display:inline-block;margin-top:10px;font-size:12px;text-decoration:underline;color:#39f;}
.constrast-btn{position:absolute;display:block;width:40px;height:40px;right:10px;bottom:10px;text-align:center;line-height:20px;background:rgba(255,255,255,.3);color:#aaa;font-size:12px;border:solid 1px #eee;border-radius:5px;}
.constrast-btn i{color:#f44623;font-size:16px;line-height:14px;margin-top:6px;display:block;}